<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>网页文字大小.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81ED579D1E0BD5E7005A8E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81ED57B61E0BD5E8005A8E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81ED57C11E0BD5E8005A8E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
